<!DOCTYPE html>
<html lang="en">

<head>
  <title>DFCC Chat Bot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <style>
    .container {
      width: 360px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      border: solid 1px #333;
      border-radius: 30px;
    }

    .bot-message {
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      color: #000;
      display: flex;
      align-items: end;
      font-family: "Poppins", sans-serif;
    }

    .bot-message div {
      border: solid 1px #3d3d3d;
      border-radius: 30px;
      max-width: 80%;
      width: max-content;
      padding: 10px;
      border-bottom-left-radius: 0px;
      font-size: 14px;
    }

    .user-message {
      padding: 10px;
      border-radius: 5px;
      white-space: pre-line;
      margin-bottom: 10px;
      color: #000;
      display: flex;
      flex-direction: row-reverse;
      align-items: end;
      font-family: "Poppins", sans-serif;
    }

    .user-message div {
      border: solid 1px #3d3d3d;
      border-radius: 30px;
      max-width: 80%;
      width: max-content;
      padding: 10px 20px;
      border-bottom-right-radius: 0px;
      margin-right: 10px;
      font-size: 14px;
    }

    .background {
      background: transparent;
    }

    #response {
      width: 100%;
      padding: 0px;
      background-color: #fff;
      border-radius: 25px;
      height: 450px;
      overflow: auto;
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
    }

    .message-image {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-top: 10px;
      border-radius: 50%;
    }

    .chat-submit-button {
      position: absolute;
      right: 10px;
      bottom: 10px;
      background-color: #000;
      border-radius: 100%;
      color: #fff;
      padding: 10px;
      font-size: 20px;
      line-height: 20px;
      font-family: "Poppins", sans-serif;
    }

    #questionForm {
      position: relative;
      padding: 10px;
      padding-top: 0px;
    }

    .chat-header {
      background-color: #561f7a;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    .chat-header img {
      height: 50px;
      width: 50px;
    }

    .chat-container {
      padding: 10px;
    }

    .chat-input {
      line-height: 30px;
      border-radius: 30px;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
    }

    .chat-input::placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
    }

    .header-title {
      font-family: "Poppins", sans-serif;
      color: #fff;
      font-size: 22px;
    }

    .language-buttons button {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      border-radius: 15px;
      background-color: #561f7a;
      border: none;
      color: #fff;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    @media screen and (max-width: 600px) {
      .background {
        padding: 5px !important;
        margin-top: 10px;
      }

      .container {
        width: 100% !important;
        margin: 10px;
        position: relative !important;
        border: solid 1px #333;
        border-radius: 30px;
        height: 98vh;
      }

      #response {
        width: 100%;
        height: 80vh;
      }

      #questionForm {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        padding-top: 0px;
      }
    }

    .langImage {
      width: 100%;
      height: auto;
    }

    #questionButtons button {
      margin-bottom: 10px;
    }
  </style>
</head>

<body class="background">
  <div class="container my-0 p-0">
    <div class="d-flex chat-header w-100 py-2 text-center">
      <!-- <img src="../Asset-1-2.png" alt="" class="px-3 py-2"> -->
      <p class="text-white header-title px-3 mb-0">Raja jewellers</p>
    </div>

    <div class="d-flex chat-container">
      <div id="response" class="">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../Asset-1-2.png" alt="" class="px-3 py-2 mb-3">
        </div>
        <div class="bot-message"><img class="message-image" src="/chat-header.png">
          <div>
            <img src="../language-img.png" alt="" class="px-3 py-2 mb-3 img-fluid langImage">
            <p class="mb-2">Hello, Welcome to Raja jewellers.</p>
            <span id="questionButtons" class="d-flex flex-column language-buttons w-100 p-0 m-0">

            </span>

          </div>
        </div>
      </div>
    </div>
    <form id="questionForm">
      <input class="form-control chat-input" placeholder="What's your question about?" id="question" name="question"
        required></input>
      <button type="submit" class="btn btn-light btn-lg chat-submit-button"><i class="bi bi-send"></i></button>
    </form>
  </div>



  <script>



    // var quickQuestions = [
    //   { question: "Where are you located at?", answer: "We are located at XYZ street, ABC city." },
    //   { question: "What are your opening hours?", answer: "Our opening hours are from 9 AM to 6 PM, Monday to Friday." },
    //   { question: "I'm not in Sri Lanka, I need to get some details?", answer: "Sure! We can assist you with your inquiries. Please provide us with the details you need." },
    //   { question: "Do you do custom-made jewelry?", answer: "Yes, we offer custom-made jewelry services tailored to your preferences." },
    //   { question: "Can I get a quotation for a custom-made jewelry?", answer: "Certainly! Please provide us with the details of your requirements, and we'll provide you with a quotation." },
    // ];

    var quickQuestions = [];
  <% for (var i = 0; i < questions.length; i++) { %>
    quickQuestions.push({
      question: "<%= questions[i].question %>",
      answer: "<%= questions[i].answer %>"
    });
  <% } %>


    var questionButtonsContainer = document.getElementById("questionButtons");

    quickQuestions.forEach(function (qa) {
      var button = document.createElement("button");
      button.textContent = qa.question;
      button.addEventListener("click", function () {

        // Add the clicked question as a user message to the chat history
        chatHistory.push({ role: 'user', content: qa.question });

        // Display the user's question
        appendMessageToResponse('user', qa.question);
        // Display the corresponding answer
        appendMessageToResponse('bot', qa.answer);
      });
      questionButtonsContainer.appendChild(button);
    });
  </script>


  <script>
    let chatHistory = [];


    function appendMessageToResponse(role, content) {
      const responseDiv = document.getElementById("response");
      const messageDiv = document.createElement("div");
      messageDiv.classList.add(role === 'user' ? "user-message" : "bot-message");

      const image = document.createElement("img");
      image.classList.add("message-image");
      image.src = role === 'user' ? "/user.webp" : "/chat-header.png";

      messageDiv.innerHTML = `<div>${content}</div>`;
      messageDiv.prepend(image);

      responseDiv.appendChild(messageDiv);
      // Scroll down to the latest message
  responseDiv.scrollTop = responseDiv.scrollHeight;
    }


    // Function to call the chat API
    async function callChatAPI() {
      try {

        // Disable input field and change submit button icon to dot
      const questionInput = document.getElementById("question");
      questionInput.disabled = true;

      const submitButton = document.querySelector(".chat-submit-button");
      submitButton.innerHTML = "<i class='bi bi-three-dots'></i>";
      submitButton.disabled = true;

        // Get the chat ID from local storage
        let chatId = localStorage.getItem('chatId');

        // Prepare the request body
        const requestBody = {
          messages: chatHistory,
          chatId: chatId
        };

        // Make the API call
        const response = await fetch("/api/chat-response", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(requestBody),
        });

        // Parse the response data
        const data = await response.json();

        // Update chat history with the received data
        chatHistory = data.chatHistory || [];

        // If chat ID doesn't exist in local storage, set it
        if (!localStorage.getItem('chatId')) {
          localStorage.setItem('chatId', data.chatId);
        }

        // Append the bot's response to the response
        appendMessageToResponse('bot', data.answer);

        // Enable input field and change submit button icon back to send icon
      questionInput.disabled = false;
      submitButton.innerHTML = "<i class='bi bi-send'></i>";
      submitButton.disabled = false;

      } catch (error) {
        console.error("Error submitting question:", error);
        const responseDiv = document.getElementById("response");
        responseDiv.innerHTML = "<p>An error occurred.</p>";
      }
    }


    // Event listener for the form submission
    document.getElementById("questionForm").addEventListener("submit", async function (event) {
      event.preventDefault();
      const questionInput = document.getElementById("question");
      const question = questionInput.value;
      document.getElementById("question").value = "";

      // Push the user's typed question to the chat history
      chatHistory.push({ role: 'user', content: question });

      // Append the user's typed question to the response
      appendMessageToResponse('user', question);

      // Call the chat API with the updated chat history
      callChatAPI();
    });
  </script>
</body>

</html>